#wrap {
  width: 100%;
}

/* header */
#header_video {
  width: 100%;
  height: auto;
  z-index: -1;
}

#header {
  width: 100%;
  height: 100px;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

#header .info {}

#header .info .logo {
  float: left;
  width: 243px;
  height: 37px;
  margin-right: 30px;
}

#header .info .logo a {
  align-items: 37px;
}

#header .info .mn {
  float: left;
  height: 37px;
}

#header .info .mn li {
  float: left;
  margin-right: 20px;
}

#header .info .mn li a {
  font-size: 15px;
  font-weight: bold;
  line-height: 37px;
  color: rgb(221, 218, 218);
}

#header .login {}

#header .login li {
  float: left;
  margin-left: 30px;
  font-size: 15px;
}

#header .login li a {
  color: rgb(221, 218, 218);
}

#header .login li.login_btn a {
  width: 60px;
  height: 20px;
  line-height: 20px;
  background-color: rgb(28, 45, 90);
  padding: 3px 15px;
  border-radius: 8px;
  color: #fff;
}

#main_txt {
  position: absolute;
  top: 350px;
  right: 200px;
  font-family: "Kdam Thmor Pro", sans-serif;
  color: rgb(221, 218, 218);
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

#main_txt>h3 {
  font-size: 60px;
}

#main_txt>p {
  padding-top: 30px;
  font-size: 30px;
}

/* 컨텐츠 */
#contents {
  width: 100%;
  margin-top: 50px;
}

#con_header {
  width: 50%;
  margin: 0 auto;
  padding-top: 80px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#con_header .menu {
  width: 100%;
  height: 50px;

}

#con_header .menu ul {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

#con_header .menu ul li a {
  font-size: 20px;
  font-weight: bold;
  color: rgb(95, 95, 95);
  position: relative;

}


#con_header .menu ul li a::before {
  content: '';
  height: 4px;
  width: 0px;
  
  border-radius: 10px;
  transition: 0.3s;
  position: absolute;
  bottom: -8px;
  left: 0;
}

#con_header .menu ul li a:hover::before {
  width: 100%;
  background-color: rgb(28, 45, 90);

}

.on{
  width: 100%;
  height: 4px;
  background-color: rgb(28, 45, 90);
  border-radius: 10px;
  transition: 0.3s;
  position: absolute;
  bottom: -8px;
  left: 0;
}


/* product */
.product {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
  /* background-color: blanchedalmond; */
}

/* product 1 */
.product .product_img {
  width: 100%;
  display: none;
  /* height:1200px; */
}

.product .product_img:nth-child(1) {
  display: block;
}

.product .product_img:nth-child(2) {
  display: block;
}

.product .product_img:nth-child(3) {
  display: block;
}

.product .product_img ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.product .product_img li {
  width: 300px;
  /* height: 220px;     */
  /* background-color: blue; */
}

.product .product_img .product_txt {
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}


.product .product_img .product_txt:before {
  content: '';
  background: #fff;
  width: 0px;
  height: 1px;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 0.35s ease;
}


.product .product_img .product_txt:after {
  content: '';
  background: #fff;
  width: 1px;
  height: 0px;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 0.35s ease;
}

.product .product_img .back {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 60px;
  color: black;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}


.product .product_img .back h3 {
  font-size: 15px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 18px;
  font-weight: 300;
  color: rgb(70, 70, 70);
  letter-spacing: 1px;
}

.product .product_img .back p {
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: navy;
}

.product_txt:hover .back {
  opacity: 1;
}

.product_txt:hover img {
  opacity: 0.3;
}

.product .product_img .product_txt a img {
  width: 100%;
  border-radius: 5%;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.product .product_img .product_txt span {
  font-size: 16px;
  font-weight: bold;
}

/* product - view */
.view_box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.view {
  width: 130px;
  height: 30px;
  background-color: rgb(28, 45, 90);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 6px 22px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* promotion */

.promotion {
  padding-top: 200px;
}

.promotion .video {
  width: 100%;
  margin: 0 auto;
}

.promotion .video video {
  width: 100%;
  opacity: 0.5;
  /* height: 300px; */
}

/* best  */
#best {
  width: 100%;
  height: 900px;
  background-color: rgb(226, 225, 231);
  margin: 100px 0;
}

#best>h2 {
  /* background-color: aquamarine; */
  padding: 100px 0 50px 0;
  text-align: center;
  font-size: 45px;
}

#best .slidebox {
  margin: 0 auto;
  display: flex;
  width: 960px;
  flex-direction: column;
  justify-content: center;
}

#best .slidecontainer {
  width: 960px;
  overflow: hidden;
  margin-bottom: 65px;
  border: 1px solid #999;
  box-sizing: border-box;

}

#best .slidecontainer ul {
  display: flex;
  transition: all .5s ease-in-out;
}

#best .slidecontainer ul li.list {
  width: 960px;
  height: 466px;
  display: flex;
  flex: none;
  border-right: 1px solid #999;
  box-sizing: border-box;
  background-color: rgb(249, 248, 253);

}

#best .slidecontainer ul li.list .list_img {
  width: 50%;
  height: 50%;
  padding: 30px;
  box-sizing: border-box;
}

#best .slidecontainer ul li.list .list_img img {
  width: 95%;
  box-shadow: 5px 5px 10px grey;
}

#best .slidecontainer ul li.list .list_txt {
  width: 50%;
  height: 200px;
  padding: 120px 0 0 30px;
  box-sizing: border-box;
}

#best .slidecontainer ul li.list .list_txt h3{
  font-size: 25px; 
  font-weight: bold;
  margin-bottom: 30px;
}

#best .slidecontainer ul li.list .list_txt h2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

#best .slidecontainer ul li.list .list_txt p {
  font-size: 13px;
  line-height: 20px;
}

#best .slidebox .sliderrange {
  -webkit-appearance: none;
  /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  /* 슬라이더 길이 */
  height: 15px;
  /* 슬라이더 두께 */
  border-radius: 5px;
  /* 슬라이더 모서리를 약간 둥글게 */
  background: #ccc;
  /* 슬라이더 색상 */
  outline: none;
  /* 슬라이더 테두리 없이 */
}

/* 슬라이더 핸들(클릭해서 드래그하는 부분) 커스텀 
(Chrome, Opera, Safari, Edge 브라우저를 위해서는 -webkit-을,
Firefox 브라우저를 위해서는 -moz- 를 사용하세요 */
#best .slidebox .sliderrange::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  appearance: none;
  /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  width: 85px;
  /* 슬라이더 핸들 길이 */
  height: 85px;
  /* 슬라이더 핸들 높이 */
  border-radius: 50%;
  /* 핸들 모양을 원모양으로 만들기 위함 */
  background: url(../images/lp_y.png) no-repeat 50% 0;
  background-size: cover;
  /* 슬라이더 핸들 색상 */
  cursor: pointer;
  /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
}



/* 턴테이블 */

#turntable {
  width: 100%;
    
}

#turntable h3 { 
  font-size: 38px;
  text-align: center;
  padding-bottom:80px;
  
  font-size: 60px;
  font-family: 'Hahmlet', serif;
  color: black;
}

#turntable .t_container{
  width: 80%;
  height: 500px;
  
  margin-bottom: 30px;
  margin:0 auto;
  overflow: hidden;
}
#turntable .t_container .t_slider{
  width: 100%;
  position: relative;  
  
  display: flex;
  animation: bannermove 30s linear infinite alternate-reverse;
}

@keyframes bannermove {
  from {
    left: 0px;
  }
  to {
    left: -2800px;
  }
}

#turntable .t_container .t_slider li{
  width: 100%;
  margin: 0px 80px;
} 
#turntable .t_container .t_slider li a img{
  width: 400px;
}

#turntable .controls{
	text-align: center;
  width: 100%;
  height: 120px;
      
}

#turntable .controls p{
	background:#333;
	color: #fff;
	width: 60px;
  height: 5px;
	display: inline-block;
  margin:0 5px;  
}



/* MAGAZINE */
#magazine {
  width: 100%;
  height: 600px;
  background-color: rgb(233, 233, 233);

}


#magazine .m_text>h3 {
  padding: 50px 190px 50px 0;
  text-align: right;
  font-size: 60px;
  /* background-color: aqua; */
  font-family: 'Hahmlet', serif;
  color: black;

}


#magazine .m_box {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* background-color: chartreuse; */
  /* box-sizing: border-box; */
  /* padding-top: 20px; */
}


#magazine .m_box .m_l {
  width: 50%;
  height: 300px;
  /* text-align: right; */
  padding: 80px 0 0 100px;
  box-sizing: border-box;


}

#magazine .m_box .m_l>h3 {
  /* font-style: italic; */
  letter-spacing: 5px;
  font-family: 'Gowun Batang', serif;
}

#magazine .m_box .m_l>h4 {
  font-size: 53px;
  font-family: 'Gowun Batang', serif;
  color: black;
  margin-bottom: 30px;
  font-style: italic;

}

#magazine .m_box .m_l>p {
  margin-bottom: 20px;
  font-size: 16px;
}

#magazine .m_box .m_l>span {
  font-size: 18px;
  margin-right: 15px;

}

#magazine .m_box .m_l>a {

  font-size: 18px;
  color: gray;
  /* font-family: 'Hahmlet', serif; */
  letter-spacing: 2px;
}

#magazine .m_box .m_l>a:hover {
  transition: all 0.3s;
  text-shadow: 1px 1px 2px rgb(150, 150, 150);
}



/* megazine 사진 슬라이드 효과 */
#magazine .container {
  width: 45%;
  /* height: 600px; */
  /* background-color: chartreuse; */
  position: relative;
  overflow: hidden;
}

#magazine ul.slider {
  display: flex;
  width: 100%;
  height: 600px;
  /* display: block; */
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
  -o-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
  transition: all 0.25s cubic-bezier(1, .01, .32, 1);
}

#magazine ul.slider li.item {
  width: 100%;
}

#magazine ul.slider li.item img {
  width: 100%;
}



/* footer */
#footer {
  width: 100%;
  height: 350px;
  background-color: rgb(249, 248, 253);
}

.f_top {
  width: 80%;
  height: 260px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.f_main {
  width: 410px;
}

.f_main h2 {
  margin-top: 70px;
}

.f_main p {
  font-size: 11px;
  font-weight: bold;
}

.sns {
  width: 150px;
  margin-top: 10px;
}

.sns ul {
  display: flex;
  justify-content: space-between;
}

.f_menu {
  width: 500px;
}

.f_menu>ul {
  margin-top: 70px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.f_menu>ul>li {
  font-size: 15px;
  font-weight: bold;
}

.sub_menu {
  margin-top: 20px;
}

.sub_menu li {
  margin-bottom: 6px;
  font-size: 12px;
}

.f_bottom {
  width: 100%;
  padding-top: 35px;
  display: flex;
  justify-content: center;
  color: #999;
  border-top: 1px solid #999;
}