#wrap {
  width: 100%;
}

/* header */
#header_video {
  width: 100%;
  height: auto;
  z-index: -1;
}

#header {
  width: 100%;
  height: 100px;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

#header .info {}

#header .info .logo {
  float: left;
  width: 243px;
  height: 37px;
  margin-right: 30px;
}

#header .info .logo a {
  align-items: 37px;
}

#header .info .mn {
  float: left;
  height: 37px;
}

#header .info .mn li {
  float: left;
  margin-right: 20px;
}

#header .info .mn li a {
  font-size: 15px;
  font-weight: bold;
  line-height: 37px;
  color: rgb(221, 218, 218);
}

#header .login {}

#header .login li {
  float: left;
  margin-left: 30px;
  font-size: 15px;
}

#header .login li a {
  color: rgb(221, 218, 218);
}

#header .login li.login_btn a {
  width: 60px;
  height: 20px;
  line-height: 20px;
  background-color: rgb(28, 45, 90);
  padding: 3px 15px;
  border-radius: 8px;
  color: #fff;
}

#main_txt {
  position: absolute;
  top: 350px;
  right: 200px;
  font-family: "Kdam Thmor Pro", sans-serif;
  color: rgb(221, 218, 218);
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

#main_txt>h3 {
  font-size: 60px;
}

#main_txt>p {
  padding-top: 30px;
  font-size: 30px;
}

/* 컨텐츠 */
#contents {
  width: 100%;
  margin-top: 50px;
}

#con_header {
  width: 50%;
  margin: 0 auto;
  padding-top: 80px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#con_header .menu {
  width: 100%;
  height: 50px;
}

#con_header .menu ul {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

#con_header .menu ul li {}

#con_header .menu ul li a {
  font-size: 20px;
  font-weight: bold;
  color: rgb(95, 95, 95);
}


/* product */
.product {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
  /* background-color: blanchedalmond; */
}

/* product 1 */
.product .product_img {
  width: 100%;
  /* height:1200px; */
  /* background-color: aquamarine; */
}

.product .product_img ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.product .product_img li {
  width: 300px;
  /* height: 220px;     */
  /* background-color: blue; */
}

.product .product_img .product_txt {
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.product .product_img .product_txt:before {
  content: '';
  background: #fff;
  width: 0px;
  height: 1px;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 0.35s ease;
}


.product .product_img .product_txt:after {
  content: '';
  background: #fff;
  width: 1px;
  height: 0px;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 0.35s ease;
}

.product .product_img .back {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 40px;
  color: black;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}


.product .product_img .back h3 {
  font-size: 16px;
  line-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 10px;
}

.product .product_img .back p {
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: navy;
}

.product_txt:hover .back {
  opacity: 1;
}

.product_txt:hover img {
  opacity: 0.3;
}

.product .product_img .product_txt a img {
  width: 100%;
  border-radius: 5%;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.product .product_img .product_txt span {
  font-size: 16px;
  font-weight: bold;
}

/* product - view */
.view {
  width: 130px;
  height: 30px;
  margin: 0 auto;
  background-color: rgb(28, 45, 90);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 6px 22px;
  margin-bottom: 50px;
  text-align: center;
}

.view a {
  font-size: 12px;
  color: #fff;
}

/* promotion */

.promotion {
  padding-top: 200px;
}

.promotion .video {
  width: 100%;
  margin: 0 auto;
}

.promotion .video video {
  width: 100%;
  opacity: 0.5;
  /* height: 300px; */
}

/* best  */

#best {
  width: 100%;
  height: 800px;
  background-color: rgb(226, 225, 231);
  margin: 100px 0;
}

#best>h2 {
  /* background-color: aquamarine; */
  padding: 100px 0 30px 0;
  text-align: center;
  font-size: 40px;
}

#best .best_img {
  width: 50%;
  height: 450px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#best .best_img .list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  background-color: rgb(249, 248, 253);
  border: 1px solid #999;
  box-sizing: border-box;
}

#best .best_img .img_left {
  width: 50%;
  padding: 30px;
  box-sizing: border-box;
}

#best .best_img .img_left>img {
  width: 100%;
}

#best .best_img>h2 {
  line-height: 70px;
}

#best .best_descr {
  width: 50%;
  padding: 100px 0 0 30px;
  line-height: 30px;
}

#best .slidecontainer {
  /* width: 50%;
  height: 5px;
  margin: 0 auto; 
  background-color: rgb(243, 243, 243);
  margin-top: 80px;
  border-radius: 10px; */
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}


#best .slidecontainer .slider {
  -webkit-appearance: none;
  /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  width: 100%;
  /* 슬라이더 길이 */
  height: 15px;
  /* 슬라이더 두께 */
  border-radius: 5px;
  /* 슬라이더 모서리를 약간 둥글게 */
  background: #ccc;
  /* 슬라이더 색상 */
  outline: none;
  /* 슬라이더 테두리 없이 */
}

/* 슬라이더 핸들(클릭해서 드래그하는 부분) 커스텀 
(Chrome, Opera, Safari, Edge 브라우저를 위해서는 -webkit-을,
Firefox 브라우저를 위해서는 -moz- 를 사용하세요 */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  appearance: none;
  /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  width: 30px;
  /* 슬라이더 핸들 길이 */
  height: 30px;
  /* 슬라이더 핸들 높이 */
  border-radius: 50%;
  /* 핸들 모양을 원모양으로 만들기 위함 */
  background: #000;
  /* 슬라이더 핸들 색상 */
  cursor: pointer;
  /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
}

/* 턴테이블 */
#turntable {
  width: 100%;
  height: 700px;
  /* background-color: gray; */
}

#turntable h3 {
  font-size: 42px;
  text-align: center;
  padding-bottom: 80px;
}

#turntable .container {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  /* background-color: aqua; */
  position: relative;
  overflow: hidden;
}

#turntable .slider {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

#turntable .item>img {
  width: 100%;
}


#turntable .container ul {
  list-style: none;
  -webkit-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
  -o-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
  transition: all 0.25s cubic-bezier(1, .01, .32, 1);
}

/*

#turntable div h3 {
  height: 200px;
  text-align: center;
  padding-top: 50px;
  font-size: 60px;
  font-family: 'Hahmlet', serif;
  color: black;
}

#turntable .turntable_image ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#turntable .turntable_image ul li {
  padding: 20px;
}

#turntable .turntable_image ul li p {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}

#turntable .turntable_image ul li img {
  width: 100%;
  height: 350px;
} */


/* MAGAZINE */
#magazine {
  width: 100%;
  height: 1000px;
  background-color: rgb(233, 233, 233);
}


#magazine .m_text>h3 {
  padding: 150px 190px 0px 0;
  text-align: right;
  font-size: 60px;
  /* background-color: aqua; */
  font-family: 'Hahmlet', serif;
  color: black;

}


#magazine .m_box {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* background-color: chartreuse; */
  /* box-sizing: border-box; */
  /* padding-top: 20px; */
}



#magazine .m_box .m_r {
  width: 50%;
  height: 300px;
  align-items: none;
  /* background-color: brown;  */
  padding-top: 40px;
}

#magazine .m_box .m_r img {
  width: 100%;
  /* padding-top: 40px; */
  /* border-radius: 10px; */
}

#magazine .m_box .m_l {
  width: 50%;
  height: 300px;
  text-align: right;
  padding: 220px 50px 0 0;
  /* background-color: aqua; */
  /* background-color: aquamarine; */
  /* padding-top: 50px; */
}

#magazine .m_box .m_l>h3 {
  font-size: 53px;
  font-family: 'Gowun Batang', serif;
  color: black;
  margin-bottom: 10px;

}

#magazine .m_box .m_l>p {
  margin-bottom: 30px;
  font-size: 16px;
}


#magazine .m_box .m_l>a {
  font-size: 20px;
  color: gray;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Hahmlet', serif;

}


/* #magazine .m_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top:80px;
}

#magazine .m_new1 {
  width: 300px;
  height: 500px;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
}

#magazine .m_new1 > .m_logo {
  padding: 15px 15px 15px 30px;
}

#magazine .m_new1 > .men {
  width: 90%;
  padding-left: 5px;
}

#magazine .m_new1 > h3{
  font-size: 18px;
  padding-top: 10px;
}

#magazine .m_new1 > a{
  font-size: 16px;
  line-height: 40px;
} */


/* footer */
#footer {
  width: 100%;
  height: 350px;
  background-color: rgb(249, 248, 253);
}

.f_top {
  width: 90%;
  height: 260px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.f_main {
  width: 410px;
}

.f_main h2 {
  margin-top: 70px;
}

.f_main p {
  font-size: 11px;
  font-weight: bold;
}

.sns {
  width: 150px;
  margin-top: 10px;
}

.sns ul {
  display: flex;
  justify-content: space-between;
}

.f_menu {
  width: 760px;
}

.f_menu>ul {
  margin-top: 70px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.f_menu>ul>li {
  font-size: 13px;
  font-weight: bold;
}

.sub_menu {
  margin-top: 20px;
}

.f_bottom {
  width: 100%;
  padding-top: 35px;
  display: flex;
  justify-content: center;
  color: #999;
  border-top: 1px solid #999;
}